<div class="row">
  <div class="container d-flex dashboard-top-buffer align-top">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <h5><%= @services.count %> professionals found near you</h5>
      <hr>
      <% @services.each do |service| %>
        <div class="dashboard-results-card card mb-4">
          <div class="flex-area d-flex p-3">
            <div class="principal" style="width:35%">
              <%= cl_image_tag service.user.photo.key, class: "avatar"  %>
              <div class="user-account-info mt-3">
                <span><%= "#{service.user.first_name} #{service.user.last_name}" %></span>
                <span><%= service.user.email %></span>
                <span><i class="fa fa-map-marker-alt"></i><%= service.user.city%></span>
              </div>
            </div>
            <div class="user-account-details ml-3">
              <span><b><%= service.category.capitalize %></b></span>
              <span><%= service.description %></span>
              <div class="user-account-button d-flex justify-content-between">
                <span><b><%= number_to_currency(service.price, unit: "R$", separator: ",", delimiter: ".") %></b></span>
                <%= link_to service_path(service.id) do %>
                  <i class="fas fa-search-plus size-icon"></i>
                <% end %>
              </div>
              <span><i>Posted at: <%= service.created_at.to_date %></i></span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 d-none d-md-flex">
      <div id="map"
           style="width: 100%; height: 600px;"
           data-markers="<%= @markers.to_json %>"
           data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>






