<div class="container">
  <% @services.each do |service| %>
    <div class="dashboard-results-card card my-4">
      <div class="flex-area d-flex p-3">
        <div class="principal" style="width:35%">
          <%= cl_image_tag service.user.photo.key  %>
          <div class="user-account-info mt-3">
            <p><%= "#{service.user.first_name} #{service.user.last_name}" %></p>
            <p><%= service.user.email %></p>
            <p><i class="fa fa-map-marker-alt"></i><%= service.user.city%></p>
          </div>
        </div>
        <div class="user-account-details ml-3">
          <p><b><%= service.category.capitalize %></b></p>
          <p><%= service.description %></p>
          <p>Offered at <%= service.created_at.to_date %></p>
          <p><b>Price: <%= number_to_currency(service.price, unit: "US$", separator: ",", delimiter: ".") %></b></p>
          <div class="user-account-button d-flex justify-content-end">
            <%= link_to 'Show details', service_path(service),  class: "btn btn-primary", style: '' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>