<div class="container">

  <div class="row dashboard-top-buffer m-3">
    <div class="card-trip card pt-5 order-card">
      <div class="p-3 mt-0 bg-primary text-white">
        <h2 class="text-center"><b>New Order</b></h2>
      </div>
      <div class="p-5">
        <h4><b> <%= @service.category.capitalize %> </b></h4>
        <p> <%= @service.description %></p>
        <p><b>Price: <%= number_to_currency(@service.price, unit: "RS$", separator: ",", delimiter: ".") %></b></p>
        <p> <i class="fa fa-map-marker-alt"></i> <%= @service.city %></p>
      </div>
      <div class="order-card mb-4">
        <%= link_to 'Confirm Service', orders_path(service: @service), method: :post, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>



