<div class="container">

  <div class="row dashboard-top-buffer">

    <div class="user-account card p-4 col-sm-12 col-md-3 col-lg-4">
      <div class="d-flex">
        <%= image_tag('neutral-avatar.png') %>
        <div class="user-account-info ml-3" style="display:inline-block; align-self:flex-end;">
          <p>fulano de tal junior</p>
          <p>fulano@gmail.com</p>
          <p><i class="fa fa-map-marker-alt"></i>Rio de Janeiro</p>
        </div>
      </div>
      <%= link_to 'Edit personal data', edit_user_registration_path,  class: "btn btn-success w-100", style: 'margin-top:15px' %>
      <%= link_to 'Delete this account!', registration_path(current_user), data: { confirm: "Are you sure?" }, method: :delete,  class: "btn btn-danger w-100", style: 'margin-top:15px' %>
      <%= link_to 'Offer a new service!', '#',  class: "btn btn-primary", style: 'margin-top:50px' %>
    </div>

    <div class="col-sm-12 col-md-9 col-lg-8">
      <div class="navbar navbar-expand-lg navbar-light bg-light" id="navbar-account">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to "Orders", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Services Offered", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Services Sold", "#", class: "nav-link" %>
          </li>
        </ul>
      </div>

      <div class="dashboard-results dashboard-top-buffer mx-3">

        <div class="dashboard-results-card card">
          <div class="flex-area d-flex p-3">
            <div class="principal" style="width:35%">
              <%= image_tag('neutral-avatar.png') %>
              <div class="user-account-info mt-3">
                <p>fulano de tal junior</p>
                <p>fulano@gmail.com</p>
                <p><i class="fa fa-map-marker-alt"></i>Rio de Janeiro</p>
              </div>
            </div>
            <div class="user-account-deails ml-3">
              <p><b>PROGRAMING</b></p>
              <p>To develop a new Pet related Marketplace, using Ruby on Rails and Javascript</p>
              <p>Ordered at 22-03-2021</p>
              <p><b>Contracted at US2.500,00</b></p>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
