<div class="row service-category-span d-flex justify-content-center">
  <span class="px-3">Choose a category for finding the best professionals in your area</span>
</div>
<div class="row service-category-div border border-dark">
  <%= link_to services_path(category: 'construction'), class: "service-category" do %>
    <%= image_tag('construction.png') %>
    <span>Construction</span>
  <% end %>
  <%= link_to services_path(category: 'education'), class: "service-category" do %>
    <%= image_tag('education.png') %>
    <span>Education</span>
  <% end %>
  <%= link_to services_path(category: 'health'), class: "service-category" do %>
    <%= image_tag('health.png') %>
    <span>Health</span>
  <% end %>
  <%= link_to services_path(category: 'programing'), class: "service-category" do %>
    <%= image_tag('programing.png') %>
    <span>Programing</span>
  <% end %>
</div>
<div class="container">
  <div class="row landing-top-buffer">
    <div class="col-sm-12 col-md-6 col-lg-4">

      <div class="landing-top-text">
        <h2><i>Why you can only have</i></h2>
        <h2><i>one budget...<br />
        <br />..when you can a</i></h2>
      </div>
      <div class="landing-middle text-right display-4">
        <h1>BuddieGet!</h1>
      </div>
      <div class="landing-bottom">
        <h5><br />
        <br />Find the best professionals in your neighboorhood:</h5>
        <%= link_to 'Find a Buddie!', services_path,  class: "btn btn-primary w-100", style: 'width: 200px;margin-top:20px' %>
      </div>
    </div>
     <div class="col-sm-12 col-md-6 col-lg-8 align-middle d-flex flex-wrap align-items-center img-fluid max-width: 100%">
      <%= image_tag('professions.png', class: "img-fluid") %>
    </div>
  </div>
</div>
