<div class="row">
  <div class="service-category my-2 text-center col-sm-12 col-md-6 col-lg-3">
    <%= link_to image_tag('construction.png'), services_path(category: 'construction') %>
    <p>Construction</p>
  </div>
  <div class="service-category my-2 text-center col-sm-12 col-md-6 col-lg-3">
    <%= link_to image_tag('education.png'), services_path(category: 'education') %>
    <p>Education</p>
  </div>
  <div class="service-category my-2 text-center col-sm-12 col-md-6 col-lg-3">
    <%= link_to image_tag('health.png'), services_path(category: 'health') %>
    <p>Health</p>
  </div>
  <div class="service-category my-2 text-center col-sm-12 col-md-6 col-lg-3">
    <%= link_to image_tag('programing.png'), services_path(category: 'programing') %>
    <p>Programing</p>
  </div>
</div>
<div class="container">
  <div class="row landing-top-buffer">
    <div class="col-sm-12 col-md-6 col-lg-4">

      <div class="landing-top-text">
        <h2><i>Why you can only have</i></h2>
        <h2><i>one budget...<br />
        <br />..when you can a</i></h2>
      </div>
      <div class="landing-middle text-right display-4">
        <h1>BuddieGet!<br />
        <br /></h1>
      </div>
      <div class="landing-bottom">
        <h5><br />
        <br />Find the best professionals in your neighboorhood:</h5>
        <%= link_to 'Find a Buddie!', services_path,  class: "btn btn-primary w-100", style: 'width: 200px;margin-top:20px' %>
      </div>
    </div>
     <div class="col-sm-12 col-md-6 col-lg-8 align-middle d-flex flex-wrap align-items-center">
      <%= image_tag('professions.png') %>
    </div>
  </div>
</div>
